In [2]:
import pandas as pd #for data analysis
import numpy as np #for neumarical func
import plotly.express as px #for interactive plots

-load the data
-look at the data
-if needed clean the data
-if req transform the data
-if req reduce the data
-if req create new features(new columns)
-visualize the data
-compute stats

In [3]:
df=pd.read_excel("sample data.xlsx")
df

   id    fname   lname  salary   da  h.r.a  t.a     dept  fine
0   1      RAM  SHARMA   30000  0.5    0.8  0.1    SALES   600
1   2    VIJAY  PANDEY   25000  0.3    0.8  0.1  PRCHASE   299
2   3    IMRAN     ALI   45000  0.4    0.8  0.1      RND   588
3   4     AJAY  PANDEY   25000  0.4    0.8  0.1    SALES  1020
4   5    VIJAY  SHARMA   19500  0.5    0.6  0.1  PRCHASE   399
5   6    ROHAN  KAPOOR   50000  0.3    0.8  0.1      RND     0
6   7    VIDYA   SINGH   52000  0.4    0.8  0.1    SALES     0
7   8    SURAJ   SINGH   95000  0.4    1.0  0.5  PRCHASE   299
8   9    ARJUN  KAPOOR   10000  0.3    0.6  0.1      RND   299
9  10  ARUN KR  PANDEY   30000  0.4    0.8  0.1  PRCHASE   299

In [4]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [5]:
df['fname']

0        RAM
1      VIJAY
2      IMRAN
3       AJAY
4      VIJAY
5      ROHAN
6      VIDYA
7      SURAJ
8      ARJUN
9    ARUN KR
Name: fname, dtype: object

In [6]:
df[['fname','lname']]

     fname   lname
0      RAM  SHARMA
1    VIJAY  PANDEY
2    IMRAN     ALI
3     AJAY  PANDEY
4    VIJAY  SHARMA
5    ROHAN  KAPOOR
6    VIDYA   SINGH
7    SURAJ   SINGH
8    ARJUN  KAPOOR
9  ARUN KR  PANDEY

In [7]:
df.iloc[0] #row wise data

id             1
fname        RAM
lname     SHARMA
salary     30000
da           0.5
h.r.a        0.8
t.a          0.1
dept       SALES
fine         600
Name: 0, dtype: object

In [8]:
df.iloc[3].tolist() #to convert to list

[4, 'AJAY', 'PANDEY', 25000, 0.4, 0.8, 0.1, 'SALES', 1020]

In [9]:
df.iloc[-5:]

   id    fname   lname  salary   da  h.r.a  t.a     dept  fine
5   6    ROHAN  KAPOOR   50000  0.3    0.8  0.1      RND     0
6   7    VIDYA   SINGH   52000  0.4    0.8  0.1    SALES     0
7   8    SURAJ   SINGH   95000  0.4    1.0  0.5  PRCHASE   299
8   9    ARJUN  KAPOOR   10000  0.3    0.6  0.1      RND   299
9  10  ARUN KR  PANDEY   30000  0.4    0.8  0.1  PRCHASE   299

In [10]:
df.iloc[-5:,:3] #row n column sclice

   id    fname   lname
5   6    ROHAN  KAPOOR
6   7    VIDYA   SINGH
7   8    SURAJ   SINGH
8   9    ARJUN  KAPOOR
9  10  ARUN KR  PANDEY

In [11]:
df.head()

   id  fname   lname  salary   da  h.r.a  t.a     dept  fine
0   1    RAM  SHARMA   30000  0.5    0.8  0.1    SALES   600
1   2  VIJAY  PANDEY   25000  0.3    0.8  0.1  PRCHASE   299
2   3  IMRAN     ALI   45000  0.4    0.8  0.1      RND   588
3   4   AJAY  PANDEY   25000  0.4    0.8  0.1    SALES  1020
4   5  VIJAY  SHARMA   19500  0.5    0.6  0.1  PRCHASE   399

In [12]:
df.tail()

   id    fname   lname  salary   da  h.r.a  t.a     dept  fine
5   6    ROHAN  KAPOOR   50000  0.3    0.8  0.1      RND     0
6   7    VIDYA   SINGH   52000  0.4    0.8  0.1    SALES     0
7   8    SURAJ   SINGH   95000  0.4    1.0  0.5  PRCHASE   299
8   9    ARJUN  KAPOOR   10000  0.3    0.6  0.1      RND   299
9  10  ARUN KR  PANDEY   30000  0.4    0.8  0.1  PRCHASE   299

In [13]:
df.isnull().sum()

id        0
fname     0
lname     0
salary    0
da        0
h.r.a     0
t.a       0
dept      0
fine      0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   fname   10 non-null     object
 2   lname   10 non-null     object
 3   salary  10 non-null     int64
 4   da      10 non-null     float64
 5   h.r.a   10 non-null     float64
 6   t.a     10 non-null     float64
 7   dept    10 non-null     object
 8   fine    10 non-null     int64
dtypes: float64(3), int64(3), object(3)
memory usage: 848.0+ bytes

In [15]:
df.describe() #stat for numerical columb

             id        salary         da      h.r.a        t.a         fine
count  10.00000     10.000000  10.000000  10.000000  10.000000    10.000000
mean    5.50000  38150.000000   0.390000   0.780000   0.140000   380.300000
std     3.02765  24106.303924   0.073786   0.113529   0.126491   301.232302
min     1.00000  10000.000000   0.300000   0.600000   0.100000     0.000000
25%     3.25000  25000.000000   0.325000   0.800000   0.100000   299.000000
50%     5.50000  30000.000000   0.400000   0.800000   0.100000   299.000000
75%     7.75000  48750.000000   0.400000   0.800000   0.100000   540.750000
max    10.00000  95000.000000   0.500000   1.000000   0.500000  1020.000000

In [16]:
df.head(3)

   id  fname   lname  salary   da  h.r.a  t.a     dept  fine
0   1    RAM  SHARMA   30000  0.5    0.8  0.1    SALES   600
1   2  VIJAY  PANDEY   25000  0.3    0.8  0.1  PRCHASE   299
2   3  IMRAN     ALI   45000  0.4    0.8  0.1      RND   588

In [17]:
df['da']

0    0.5
1    0.3
2    0.4
3    0.4
4    0.5
5    0.3
6    0.4
7    0.4
8    0.3
9    0.4
Name: da, dtype: float64

In [18]:
df['da']*df['salary'] #show da in rs

0    15000.0
1     7500.0
2    18000.0
3    10000.0
4     9750.0
5    15000.0
6    20800.0
7    38000.0
8     3000.0
9    12000.0
dtype: float64

In [19]:
df['da']*df['salary']\
    +df['h.r.a']*df['salary']\
        +df['t.a']*df['salary']\
            +df['salary'] -df['fine']# \ to tell ki ye sb ek hi h nhi to ek staight line m likhna padta

0     71400.0
1     54701.0
2    102912.0
3     56480.0
4     42501.0
5    110000.0
6    119600.0
7    275201.0
8     19701.0
9     68701.0
dtype: float64

In [20]:
df['total salary']= df['da']*df['salary']+df['h.r.a']*df['salary']+df['t.a']*df['salary']+df['salary']-df['fine']
df.head(4)

   id  fname   lname  salary   da  h.r.a  t.a     dept  fine  total salary
0   1    RAM  SHARMA   30000  0.5    0.8  0.1    SALES   600       71400.0
1   2  VIJAY  PANDEY   25000  0.3    0.8  0.1  PRCHASE   299       54701.0
2   3  IMRAN     ALI   45000  0.4    0.8  0.1      RND   588      102912.0
3   4   AJAY  PANDEY   25000  0.4    0.8  0.1    SALES  1020       56480.0

In [21]:
px.area(df,x='fname',y='salary')