Tuple
    -python default sequential data str
    -indexed
    -ordered
    -immutable
    -heterogenous
Set
    -unordered
    -unindexed
    -mutable
    -unique elements only
    -can strore only immutablr elements

In [2]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [3]:
12,13,114

(12, 13, 114)

In [5]:
#single element tupule
b=13
print(type(b))

<class 'int'>

In [6]:
#single element tupule
b=(13,)
print(type(b))

<class 'tuple'>

In [9]:
#tuple unpacking
x1,x2,x3=x
print(x1,x2,x3)

1 2 3

In [11]:
a=(1,2,3,4,5,6,7,8,9,10)
a1,a2,*a3=a
print(a1,a2,a3)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a[-5:]

(6, 7, 8, 9, 10)

In [15]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
y=(1,2,3,1,2,3,1,2,3,2,3,1,3)
print(y.count(1))
print(y.count(2))
print(y.index(3))
print(y.index(3,5))

4
4
2
5

In [26]:
s={1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [27]:
s1=set()
print(s1)

set()

In [28]:
s1.add(9)
s1.add("hello")
s1.add("all")
print(s1)

{9, 'all', 'hello'}

In [29]:
s.discard(3)
print(s)

{1, 2}

In [31]:
for i in s1:
    print(i)

9
all
hello

In [34]:
#set operations
g1={"apple","banana","orange","grapes","mango","pineapple","watermelon"}
g2={"apple","grapes","mango","pineapple","kiwi","papaya","cherry"}
print(g1 | g2)
print(g1.union(g2))

{'pineapple', 'grapes', 'mango', 'apple', 'orange', 'kiwi', 'papaya', 'cherry', 'watermelon', 'banana'}
{'pineapple', 'grapes', 'mango', 'apple', 'orange', 'kiwi', 'papaya', 'cherry', 'watermelon', 'banana'}

In [33]:
print(g1 & g2)
print(g1.intersection(g2))

{'apple', 'pineapple', 'mango', 'grapes'}
{'apple', 'pineapple', 'mango', 'grapes'}

In [35]:
print(g1-g2)
print(g2-g1)
print(g2.difference(g1))

{'orange', 'banana', 'watermelon'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [37]:
print(g1^g2)
print(g1.symmetric_difference(g2))

{'kiwi', 'orange', 'watermelon', 'papaya', 'cherry', 'banana'}
{'kiwi', 'orange', 'watermelon', 'papaya', 'cherry', 'banana'}

#create a list called reports that eill hold report of 7 students 
each student will have a name n marks of 3 subjects
use for loop to display report

In [51]:
report=[['a',10,37,20],['b',34,12,45],['c',43,23,34],['d',43,24,43],['e',43,24,34],['f',43,23,34],['g',43,21,34]]
for i in report:
    print(f'name={i[0]}, marks of 3 subjects are:{i[1],i[2],i[3]}')

name=a, marks of 3 subjects are:(10, 37, 20)
name=b, marks of 3 subjects are:(34, 12, 45)
name=c, marks of 3 subjects are:(43, 23, 34)
name=d, marks of 3 subjects are:(43, 24, 43)
name=e, marks of 3 subjects are:(43, 24, 34)
name=f, marks of 3 subjects are:(43, 23, 34)
name=g, marks of 3 subjects are:(43, 21, 34)